# This file should be added in .gitignore, personal info here! For github keep just an example version like access.yaml.template

# Here I want to declare which users have access to each folder

administrators:  # users with permission to modify anything. Note that main keys are basically arbitrary. I plan to declare groups of users having access to the same folders
  folders: ["*"]  # Is this the best approach? or role="admin" or admin=True??
  users:
    - EnocMartinez # email? github username?

federation:
  # Permission to modify the whole federation
  folders: ["federation"]
  users:
    - Jhon
    - Marie

BalearicSea: # Example of subfolders
  folder: ["federation/Balearic_Sea"]
  users:
    - Peter
    - Katia

IfremerTeam: # One team may modify several folders
  folder: ["federation/Iroise", "federation/Azores"]
  users:
    - Steven
    - Rocio
